<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo empresa:</strong>
  <%= @empresa.codigo_empresa %>
</p>

<p>
  <strong>Codigo ibge:</strong>
  <%= @empresa.codigo_ibge %>
</p>

<p>
  <strong>Id ramo atividade:</strong>
  <%= @empresa.id_ramo_atividade %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @empresa.cpf_cnpj %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @empresa.nome_fantasia %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @empresa.razao_social %>
</p>

<p>
  <strong>Usuario login:</strong>
  <%= @empresa.usuario_login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @empresa.senha %>
</p>

<p>
  <strong>Recuperar senha:</strong>
  <%= @empresa.recuperar_senha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>

<p>
  <strong>Email alternativo:</strong>
  <%= @empresa.email_alternativo %>
</p>

<p>
  <strong>Url site:</strong>
  <%= @empresa.url_site %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @empresa.telefone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @empresa.fax %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @empresa.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @empresa.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @empresa.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @empresa.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @empresa.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @empresa.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @empresa.estado %>
</p>

<p>
  <strong>Nome responsavel:</strong>
  <%= @empresa.nome_responsavel %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
